<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kitchen</title>
</head>
<body>
    <form action="/kitchen" method="post">
        <label for="table" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Choose your table : </label>
        <select name="table" id="select" value="select table" name="table">
            <option value="table1">table1</option>
            <option value="table2">table2</option>
            <option value="table3">table3</option>
            <option value="table4">table4</option>
            <option value="table5">table5</option>
            <option value="table6">table6</option>
            <option value="table7">table7</option>
            <option value="table8">table8</option>
            <option value="table9">table9</option>
            <option value="table10">table10</option>
            <option value="table11">table11</option>
            <option value="table12">table12</option>
          </select><br>
        </div>
        <button type="submit" id="submit">Submit</button>
    </form>
    <div>
        
        
    </div>
    
</body>
</html>