<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>table site</title>
    <link rel="stylesheet" href="/stylesheets/order.css">
</head>
<body>
    <div id="title">
        ORDER FROM TABLE
    </div>
    <a href="/tiffinsmenu">
    <div id="selopt">
        <img src="/images/breakfast.jpg" alt="tiffins" id="image" width="200px" height="200px">
        <p id="name">TIFFINS</p>
    </div>
    </a>
    <a href="/lunchmenu">
    <div id="selopt" onclick="" style="left:520px">
        <img src="/images/lunch.jpeg" alt="veg" id="image" width="200px" height="200px">
        <p id="name">LUNCH</p>
    </div>
    </a>
    </div>
    <a href="/drinksmenu">
    <div id="selopt" onclick="" style="left:950px">
        <img src="/images/drinks.jpg" alt="drinks" id="image"  width="200px" height="200px">
        <p id="name">DRINKS</p>
    </div>
    </a>
</body>
</html>