
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tiffinmenu</title>
    <link rel="stylesheet" href="/stylesheets/tiffinmenu.css">
</head>
<body>
    <form method="post">
        <div id="details">
            <p id="title">ENTER DETAILS</p>
        <div id="customer">
        <label for="customer" id="cd" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Your Name : </label>
        <input type="text" id="c" name="name"><br>
        </div>
        <div id="seltab">
        <label for="table" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Choose your table : </label>
        <select name="table" id="select" value="select table" name="table">
            <option value="table1">table1</option>
            <option value="table2">table2</option>
            <option value="table3">table3</option>
            <option value="table4">table4</option>
            <option value="table5">table5</option>
            <option value="table6">table6</option>
            <option value="table7">table7</option>
            <option value="table8">table8</option>
            <option value="table9">table9</option>
            <option value="table10">table10</option>
            <option value="table11">table11</option>
            <option value="table12">table12</option>
          </select><br>
        </div>
        <div id="textarea">
        <lable for="textarea" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">enter any recomendations for taste</lable><br>
        <textarea cols="50" rows="15" id="ta" name="textarea" name="recomendations"></textarea>
        </div>
        </div>
    <div id="orders">         
        <div id="item">
          <label>
            <img src="/images/idly.jpeg" alt="idly" id="itemimg" />
            <br>
            <input type="number" name="idly" value="0" min="0" id="quantity"/>
          </label>
        </div>
        <div id="item" style="left:250px">
          <label>
            <img src="/images/dosa.jpeg" alt="dosa" id="itemimg" />
            <br>
            <input type="number" name="dosa" value="0" min="0" id="quantity"/>
          </label>
        </div>
        <div id="item" style="left:450px">
          <label>
            <img src="/images/chapathi.jpeg" alt="chapathi" id="itemimg" />
            <br>
            <input type="number" name="chapathi" value="0" min="0" id="quantity"/>
          </label>
        </div>
        <div id="item" style="left:650px">
          <label>
            <img src="/images/poori.jpeg" alt="poori" id="itemimg" />
            <br>
            <input type="number" name="poori" value="0" min="0" id="quantity"/>
          </label>
        </div>


        <div id="item" style="top: 200px;">
          <label>
            <img src="/images/upma.jpeg" alt="upma" id="itemimg" />
            <br>
            <input type="number" name="upma" value="0" min="0" id="quantity"/>
          </label>
        </div>
        <div id="item" style="left:250px;top: 200px;">
          <label>
            <img src="/images/poha.jpeg" alt="poha" id="itemimg" />
            <br>
            <input type="number" name="poha" value="0" min="0" id="quantity"/>
          </label>
        </div>
        <div id="item" style="left:450px;top: 200px;">
          <label>
            <img src="/images/uggani.jpeg" alt="uggani" id="itemimg" />
            <br>
            <input type="number" name="uggani" value="0" min="0" id="quantity"/>
          </label>
        </div>
        <div id="item" style="left:650px;top: 200px;">
          <label>
            <img src="/images/pulihora.jpeg" alt="pulihora" id="itemimg" />
            <br>
            <input type="number" name="pulihora" value="0" min="0" id="quantity"/>
          </label>
        </div>


        <div id="item" style="top: 370px;">
          <label>
            <img src="/images/parota.jpeg" alt="parota" id="itemimg" />
            <br>
            <input type="number" name="parota" value="0" min="0" id="quantity"/>
          </label>
        </div>
        <div id="item" style="left:250px;top: 370px">
          <label>
            <img src="/images/vada.jpeg" alt="vada" id="itemimg" />
            <br>
            <input type="number" name="vada" value="0" min="0" id="quantity"/>
          </label>
        </div>
        <div id="item" style="left:450px;top: 370px;">
          <label>
            <img src="/images/pongal.jpeg" alt="pongal" id="itemimg" />
            <br>
            <input type="number" name="pongal" value="0" min="0" id="quantity"/>
          </label>
        </div>
        <div id="item" style="left:650px;top: 370px;">
          <label>
            <img src="/images/uthappam.jpeg" alt="uthappam" id="itemimg" />
            <br>
            <input type="number" name="uthappam" value="0" min="0" id="quantity"/>
          </label>
        </div>
        
    </div>
    <button type="submit" id="submit">Submit</button>
  </form>
    
    
    
    
    
    
</body>
</html>